body {
  font-family: "Times New Roman", Times, serif;
}
/* main menu */
.main-menu-container {
  height: 100vh;
  background: url('./assets/images/main-menu-background.jpg') no-repeat center center fixed;
  background-size: cover;
}
.main-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main-menu-logo {
  max-width: 30%;
  height: auto;
}
.title {
  color: white;
  font-size: 1.5em;
}
.start-button {
  width: 150px;
  margin: auto;
  padding: 10px 20px;

  text-align: center;
  font-size: 1.5em;
  color: white;

  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgb(182, 174, 174);
  border-radius: 10px;

  transition: background-color 0.3s;
}
.start-button:hover {
  background-color: rgba(61, 55, 55, 0.9);
}
@media (max-width: 600px) {
  .main-logo {
    max-width: 100%;
  }
}

/* main content */
.main-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  /* z-index: 4; */
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* z-index: 999; */
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
/* logo */
.header-logo {
  height: 10vw;
}
/* icons */
.header-icons {
  display: flex;
  gap: 15px;
}
.header-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.bg-icon {
  border-radius: 5px;
  object-fit: cover;
}
.selected {
  border: solid 3px green;
}

.object-card {
  width: 50vw;
  height: 4rem;
  padding: 20px;

  color: black;
  background-color: white;
  border: 2px solid rgb(34, 0, 120);
  border-radius: 10px;
  box-shadow: 15px 10px rgb(29, 0, 102);
  text-align: center;
}
.object-card-name {
  font-size: 1.5em;
}
@media (max-width: 600px) {
  .icon {
    width: 30px;
    height: 30px;
  }
  .object {
    padding: 15px;
  }
  .object-name {
    font-size: 1.2em;
  }
}